option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: wattback_web.settings
    DEBUG: "0"
    ALLOWED_HOSTS: "*"
  aws:elasticbeanstalk:cloudwatch:logs:
    RetentionInDays: 7
container_commands:
  01_load_wattback:
    command: "python manage.py load_wattback"
    leader_only: true
